<section class="todoapp">

	<header class="header">
		<h1>todos</h1>
    <input class="new-todo"
        placeholder="New todo"
        autofocus
        (keyup.enter)="addTodo($event.target)">
  </header>

  <nav class="toolbar" *ngIf="getAllList().length">
    <ul class="filters">
      <li>
        <a [class.selected]="checkStatus(todoStatusType.All)"
            (click)="setStatus(todoStatusType.All)">All</a>
      </li>
      <li>
        <a [class.selected]="checkStatus(todoStatusType.Open)"
            (click)="setStatus(todoStatusType.Open)">Open</a>
      </li>
      <li>
        <a [class.selected]="checkStatus(todoStatusType.Done)"
            (click)="setStatus(todoStatusType.Done)">Done</a>
      </li>
    </ul>
	</nav>

  <section class="main" *ngIf="getAllList().length">
    <ul class="todo-list">
      <li *ngFor="let todo of getList(); let i = index"
          [class.completed]="todo.getCompleted()">
        <div class="view">
          <input class="toggle" type="checkbox"
              (click)="todo.toggleCompletion()"
              [checked]="todo.getCompleted()">
          <label>{{ todo.getTitle() }}</label>
          <div class="status">{{ todo.getStatus() }}</div>
        </div>
      </li>
    </ul>
  </section>

</section>
